#
#	rules -- makefile rules
#

$(OBJDIR)/%.o: %.c
	$(COMPILE.c) -o $@ $<

$(OBJDIR)/%.o: %.cc
	$(COMPILE.cc) -o $@ $<

$(OBJDIR)/%.o: %.cpp
	$(COMPILE.cc) -o $@ $<

$(OBJDIR)/%.o: %.F
	$(COMPILE.F) -o $@ $<

$(OBJDIR)/%.o: %.f90
	$(COMPILE.F90) -o $@ $<

$(OBJDIR)/%.o: %.F90
	$(COMPILE.F90) -o $@ $<

#
#	C rules
#

$(OBJDIR)/%.d: %.c
	@echo 'Making dependency file $@ for $< using command $(DEPEND.c) $<'
ifeq ($(RPGNU),)
ifeq ($(RPHOSTTYPE),solaris)
	@$(SHELL) -ec '$(DEPEND.c) $< \
		| grep -v /usr | grep -v /opt | grep -v /lang \
		| sed '\''s+^$*\.o+$(OBJDIR)/$*.o $(LIBARC)($*.o) $@+'\'' > $@'
endif
ifeq ($(RPHOSTTYPE),solaris_i86)
	@$(SHELL) -ec '$(DEPEND.c) $< 2> $*.i2'
	@$(SHELL) -ec 'cat $*.i2 | grep -v /usr | grep -v /opt | grep -v /lang \
		| sed '\''s+^	*+$(OBJDIR)/$*.o $(LIBARC)($*.o) $@ : +'\'' \
		| sort | uniq > $@'
	@rm -f $*.i $*.i2
endif
ifeq ($(RPHOSTTYPE),mips)
	@$(SHELL) -ec '$(DEPEND.c) $< -o $*.o \
		| grep -v /usr | grep -v /opt | grep -v /lang \
		| sed '\''s+^$*\.o+$(OBJDIR)/$*.o $(LIBARC)($*.o) $@+'\'' > $@'
endif
ifeq ($(RPHOSTTYPE),sun4)
	@$(SHELL) -ec '$(DEPEND.c) $< 2> $*.i2'
	@$(SHELL) -ec 'cat $*.i2 | grep -v /usr | grep -v /opt | grep -v /lang \
		| sed '\''s+^	*+$(OBJDIR)/$*.o $(LIBARC)($*.o) $@ : +'\'' \
		| sort | uniq > $@'
	@rm -f $*.i $*.i2
endif
else
	@$(SHELL) -ec '$(DEPEND.c) $< \
		| sed '\''s+^$*\.o+$@+'\'' > $@'
endif

#
#	C++ rules
#

$(OBJDIR)/%.d: %.cc
	@echo 'Making dependency file $@ for $< using command $(DEPEND.cc) $<'
ifeq ($(RPGNU),)
ifeq ($(RPHOSTTYPE),solaris)
	@$(SHELL) -ec '$(DEPEND.cc) $< \
		| grep -v /usr | grep -v /opt | grep -v /lang \
		| sed '\''s+^$*\.o+$(OBJDIR)/$*.o $(LIBARC)($*.o) $@+'\'' > $@'
endif
ifeq ($(RPHOSTTYPE),solaris_i86)
	@$(SHELL) -ec '$(DEPEND.cc) $< 2> $*.i2'
	@$(SHELL) -ec 'cat $*.i2 | grep -v /usr | grep -v /opt | grep -v /lang \
		| sed '\''s+^	*+$(OBJDIR)/$*.o $(LIBARC)($*.o) $@ : +'\'' \
		| sort | uniq > $@'
	@rm -f $*.i $*.i2
endif
ifeq ($(RPHOSTTYPE),mips)
	@$(SHELL) -ec '$(DEPEND.cc) $< -o $*.o \
		| grep -v /usr | grep -v /opt | grep -v /lang \
		| sed '\''s+^$*\.o+$(OBJDIR)/$*.o $(LIBARC)($*.o) $@+'\'' > $@'
endif
ifeq ($(RPHOSTTYPE),sun4)
	@$(SHELL) -ec '$(DEPEND.cc) $< 2> $*.i2'
	@$(SHELL) -ec 'cat $*.i2 | grep -v /usr | grep -v /opt | grep -v /lang \
		| sed '\''s+^	*+$(OBJDIR)/$*.o $(LIBARC)($*.o) $@ : +'\'' \
		| sort | uniq > $@'
	@rm -f $*.i $*.i2
endif
else
	@$(SHELL) -ec '$(DEPEND.cc) $< \
		| sed '\''s+^$*\.o+$(OBJDIR)/$*.o $(LIBARC)($*.o) $@+'\'' > $@'
endif

#
#	FORTRAN 77 rules
#

$(OBJDIR)/%.d: %.F
	@echo 'Making dependency file $@ for $< using command $(DEPEND.F) $<'
ifeq ($(RPGNU),)
ifeq ($(RPHOSTTYPE),solaris)
	@$(SHELL) -ec '$(DEPEND.F) $< \
		| grep -v /usr | grep -v /opt | grep -v /lang \
		| sed '\''s+^$*\.o+$(OBJDIR)/$*.o $(LIBARC)($*.o) $@+'\'' > $@'
endif
ifeq ($(RPHOSTTYPE),solaris_i86)
	@$(SHELL) -ec '$(DEPEND.F) $< 2> $*.i2'
	@$(SHELL) -ec 'cat $*.i2 | grep -v /usr | grep -v /opt | grep -v /lang \
		| sed '\''s+^	*+$(OBJDIR)/$*.o $(LIBARC)($*.o) $@ : +'\'' \
		| sort | uniq > $@'
	@rm -f $*.i $*.i2
endif
ifeq ($(RPHOSTTYPE),mips)
	@$(SHELL) -ec '$(DEPEND.F) $< -o $*.o \
		| grep -v /usr | grep -v /opt | grep -v /lang \
		| sed '\''s+^$*\.o+$(OBJDIR)/$*.o $(LIBARC)($*.o) $@+'\'' > $@'
endif
ifeq ($(RPHOSTTYPE),sun4)
	@$(SHELL) -ec '$(DEPEND.F) $< 2> $*.i2'
	@$(SHELL) -ec 'cat $*.i2 | grep -v /usr | grep -v /opt | grep -v /lang \
		| sed '\''s+^	*+$(OBJDIR)/$*.o $(LIBARC)($*.o) $@ : +'\'' \
		| sort | uniq > $@'
	@rm -f $*.i $*.i2
endif
else
	@$(SHELL) -ec '$(DEPEND.F) $< \
		| sed '\''s+^$*\.o+$(OBJDIR)/$*.o $(LIBARC)($*.o) $@+'\'' > $@'
endif

#
#	FORTRAN 90 rules
#

$(OBJDIR)/%.d: %.F90
	@echo 'Making dependency file $@ for $< using command $(DEPEND.F90) $<'
ifeq ($(RPGNU),)
ifeq ($(RPHOSTTYPE),solaris)
	@$(SHELL) -ec '$(DEPEND.F90) $< \
		| grep -v /usr | grep -v /opt | grep -v /lang \
		| sed '\''s+^$*\.o+$(OBJDIR)/$*.o $(LIBARC)($*.o) $@+'\'' > $@'
endif
ifeq ($(RPHOSTTYPE),solaris_i86)
	@$(SHELL) -ec '$(DEPEND.F90) $< 2> $*.i2'
	@$(SHELL) -ec 'cat $*.i2 | grep -v /usr | grep -v /opt | grep -v /lang \
		| sed '\''s+^	*+$(OBJDIR)/$*.o $(LIBARC)($*.o) $@ : +'\'' \
		| sort | uniq > $@'
	@rm -f $*.i $*.i2
endif
ifeq ($(RPHOSTTYPE),mips)
	@$(SHELL) -ec '$(DEPEND.F90) $< -o $*.o \
		| grep -v /usr | grep -v /opt | grep -v /lang \
		| sed '\''s+^$*\.o+$(OBJDIR)/$*.o $(LIBARC)($*.o) $@+'\'' > $@'
endif
ifeq ($(RPHOSTTYPE),sun4)
	@$(SHELL) -ec '$(DEPEND.F90) $< 2> $*.i2'
	@$(SHELL) -ec 'cat $*.i2 | grep -v /usr | grep -v /opt | grep -v /lang \
		| sed '\''s+^	*+$(OBJDIR)/$*.o $(LIBARC)($*.o) $@ : +'\'' \
		| sort | uniq > $@'
	@rm -f $*.i $*.i2
endif
else
	@$(SHELL) -ec '$(DEPEND.F90) $< \
		| sed '\''s+^$*\.o+$(OBJDIR)/$*.o $(LIBARC)($*.o) $@+'\'' > $@'
endif

#
#	General rules
#

clean: FORCE
	$(CLEAN) $(CLEANSRC)


print: FORCE
	$(PRINT) $(PRINTSRC)

$(TAGSFILE): $(TAGSSRC)
	$(TAGS) $(TAGSFLAGS) $(TAGSSRC) > $(TAGSFILE)

tar: FORCE
	pwd=`pwd`; name=`basename $$pwd`.tar;\
	$(TAR) $(TARFLAGS) $(TARDIR)/$$name $(TARSRC)

FORCE:
